/.editor_settings
/.internal
/build
.externalToolBuilders
.DS_Store
Thumbs.db
.lock-wscript
*.pyc
.project
.cproject
builtins
compile_commands.json
manifest.private.der
manifest.public.der
RELEASE-NOTES.md
*.sublime-project
*.sublime-workspace
*.appmanifest
.luarc.json
/.cache
*.jar
*.zsh
/bundle
*.keystore
debug.*
